* {
  margin: 0;
  padding: 0;
}
img {
  border: 1px solid #ffffff;
  border-radius: 10px;
  transition: 1s;
}
img:hover {
  border: 1px solid #ffffff;
  border-radius: 10px;
  transform: scale(1.3);
  z-index: 2;
}
a .imageMain {
  width: 150px;
  height: 200px;
}
a .image-firstGenChild {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid #ffff;
  transition: 1s;
}
a .image-firstGenChild:hover {
  border-radius: 50%;
  transform: scale(1.3);
  z-index: 2;
  box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.8);
  border: 3px solid gold;
}
html,
body {
  max-width: 100%;
  overflow-x: hidden;
  height: 100%;
  background: hsl(196, 79%, 61%);
  margin: 0;
}
.content {
  min-height: 100%;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
}

header {
  position: fixed;
  top: 0;
  gap: 50px;
  width: 100%;
  height: 40px;
  padding: 10px 0;
  background-color: rgb(6, 58, 245);
  justify-content: center;
  align-items: center;
  display: flex;
}
header a {
  color: white;
}
.headTitle {
  font-size: 26px;
  font-weight: 700;
  text-decoration: none;
  color: whitesmoke;
}
.headTitle-firstGen {
  font-weight: 700;
  cursor: pointer;
  color: white;
  font-size: 18px;
}
.back {
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
  background-color: gainsboro;
  border-radius: 5px;
  padding: 10px;
  color: black;
}
.back:hover {
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
  background-color: black;
  border-radius: 5px;
  padding: 10px;
  color: white;
}
.container {
  padding: 100px 10px 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.firstGen-container {
  background: hsl(196, 79%, 61%);
  max-width: 100%;
  overflow-x: hidden;
  margin-top: 20px;
  padding: 100px 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.firstGen-childHolder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  padding: 5px;
  border-radius: 20px;
  box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.8);
}
.firstGenChildName {
  margin-top: 10px;
  font-size: 20px;
  text-align: center;
}
.grand-parents {
  display: flex;
  column-gap: 50px;
}
.grand {
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  background: azure;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: -10px 8px 8px rgba(0, 0, 0, 0.8);
}
.grandGrand {
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  background: gold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: -10px 8px 8px rgba(0, 0, 0, 0.8);
}
.grand-h3 {
  font-size: 24px;
  margin: 10px;
}
.grandFather {
  cursor: pointer;
  background-color: aqua;
  width: 100px;
  height: 100px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  display: flex;
  border: 1px solid black;
  box-shadow: -10px 8px 8px rgba(0, 0, 0, 0.8);
}
.grandFather-firstGenPage {
  background-color: blue;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 170px;
  height: 220px;
  border-radius: 20px;
  border: 1px solid whitesmoke;
  box-shadow: -10px 8px 8px rgba(0, 0, 0, 0.8);
}
.grandMother {
  background-color: gray;
  width: 100px;
  height: 100px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  display: flex;
  border: 1px solid whitesmoke;
  box-shadow: -10px 5px 5px rgba(0, 0, 0, 0.8);
}
.grandMother-firstGenPage {
  cursor: pointer;
  background-color: blue;
  width: 170px;
  height: 220px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 20px;
  border: 1px solid whitesmoke;
  box-shadow: -10px 5px 5px rgba(0, 0, 0, 0.8);
}

.children {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.children-firstGenMainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 50px 220px;
}
.child {
  font-weight: 600;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: chartreuse;
  box-shadow: -10px 8px 8px rgba(0, 0, 0, 0.8);
  border: 0.4px solid whitesmoke;
}
.child:hover {
  color: white;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: grey;
  box-shadow: -10px 8px 8px rgba(0, 0, 0, 0.8);
  border: 1px solid whitesmoke;
}

.child a {
  text-decoration: none;
  font-weight: 700;
  color: black;
}
.child a:hover {
  color: whitesmoke;
}
.child-firstGenHolder {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: gold;
  border: 1px solid aliceblue;
  width: 170px;
  height: 170px;
  box-shadow: -3px -3px 3px rgb(7, 235, 243), 3px 3px 3px rgb(8, 243, 243);
}
.in-law {
  display: flex;
  align-items: center;
  color: antiquewhite;
  text-align: center;
  justify-content: center;
  font-weight: 500;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: royalblue;
  box-shadow: -10px 8px 8px rgba(0, 0, 0, 0.8);
  border: 0.5px solid whitesmoke;
}
.in-law a {
  color: white;
  text-decoration: none;
}
.in-law a:hover {
  color: black;
}
.in-law:hover {
  background-color: grey;
  width: 90px;
  height: 90px;
  color: black;
  border-radius: 50%;
  box-shadow: -10px 8px 8px rgba(0, 0, 0, 0.8);
  border: 0.5px solid whitesmoke;
}
.couple {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  column-gap: 15px;
}
.coupleCamacho {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}
.grand-children {
  color: black;
  font-size: 12px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: greenyellow;
  font-weight: 600;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  box-shadow: -10px 8px 8px rgba(0, 0, 0, 0.8);
  border: 0.5px solid whitesmoke;
}
.grand-children a {
  text-decoration: none;
  color: #111111;
  font-size: 12px;
  font-weight: 700;
}
.grand-children:hover {
  background-color: lightgray;
  color: darkslategray;
  font-weight: 600;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  box-shadow: -10px 8px 8px rgba(0, 0, 0, 0.8);
  border: 0.5px solid whitesmoke;
}
.first a {
  color: #ffffff;
}
.first {
  background: crimson;
}
.second a {
  font-size: 12px;
  font-weight: 700;
}
.second {
  background: rgb(247, 182, 3);
}
.third {
  background: orangered;
}
.third a {
  color: #ffffff;
}
.fourth {
  background: aqua;
}
.fifth {
  background: green;
}
.fifth a {
  color: #ffffff;
}
.sixth {
  background: blue;
}
.sixth a {
  color: #ffffff;
}
.seventh {
  background: navy;
}
.seventh a {
  color: #ffffff;
}
.eighth {
  background: yellow;
}
.ninth {
  background: darkorange;
}
.ninth a {
  color: #ffffff;
}
.foot {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 20px;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(6, 58, 245);
}

footer a {
  font-family: "Franklin Gothic Medium", sans-serif;
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
}
footer p {
  color: white;
}

/* CSS part 2 */
.childrensFamily {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 30px;
  gap: 20px;
}

.gasilla-siblings {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 350px;
  gap: 10px;
}
.agor-siblings {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 280px;
  gap: 10px;
}
.rosales-siblings {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  width: 350px;
  gap: 10px;
}
.camacho-siblings {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 400px;
  gap: 10px;
}
.pacamarra-siblings {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 350px;
  gap: 10px;
}
.umali-siblings {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 300px;
  gap: 10px;
}
.bacani-siblings {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 350px;
  gap: 10px;
}
.saavedra-siblings {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 400px;
  gap: 10px;
}
.lazado-siblings {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 350px;
  gap: 10px;
}

.familyName {
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 10px;
}
/* Row */
/* Row 1 = 2 gasilla & agor */
.rowOne {
  display: flex;
}
/* Row 2 = 3  rosales, camacho & pacamarra*/
.rowTwo {
  display: flex;
  column-gap: 50px;
}
/* Row 3 = 4  umali, bacani, saavedra and lazado*/
.rowThree {
  display: flex;
  column-gap: 80px;
}

/* first gen family css */

.childHolder {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
@media screen and (max-width: 428px) {
  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .content {
    overflow-x: hidden;
  }
  .firstGen-container {
    background: hsl(196, 79%, 61%);
  }
  /* responsive of top */
  header {
    z-index: 1000;
  }
  .grand-parents {
    padding-top: 140px;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-bottom: 350px;
  }
  .grand {
    position: absolute;
    top: 0;
    width: 280px;
    height: 150px;
  }
  .grandGrand {
    position: absolute;
    top: 0;
    width: 240px;
  }
  .grandFather-firstGenPage {
    position: absolute;
    top: 50%;
    right: 0;
    margin-right: 5px;
  }
  .grandMother-firstGenPage {
    position: absolute;
    top: 50%;
    left: 0;
    margin-left: 4px;
  }
  /* responsive of top end here */
  .grand {
    padding: 15px;
  }
  .grand-h3 {
    font-size: 20px;
  }
  .rowThree {
    flex-direction: column;
    padding-bottom: 50px;
  }
  .rowTwo {
    flex-direction: column;
  }
  .rowOne {
    flex-direction: column;
  }
  .camacho-siblings {
    width: 340px;
  }
  .saavedra-siblings {
    width: 340px;
  }
  footer a {
    font-size: 12px;
    font-weight: 700;
  }
  footer p {
    font-size: 10px;
    color: white;
  }
}

@media screen and (min-width: 429px) and (max-width: 767px) {
  .container {
    width: 100%;
    padding-top: 100px 0;
    margin: 0;
  }
  .content {
    overflow-x: hidden;
  }
  .grand {
    padding: 15px;
  }

  .grand-parents {
    column-gap: 20px;
  }
  .grand-h3 {
    font-size: 20px;
  }
  .grand-children {
    width: 55px;
    height: 55px;
  }
  .children-firstGenMainContainer {
    padding: 50px 50px;
  }
  .grandMother-firstGenPage,
  .grandFather-firstGenPage {
    width: 150px;
    height: 200px;
  }
  .grand-children:hover {
    width: 55px;
    height: 55px;
  }
  .gasilla-siblings {
    width: 300px;
    gap: 10px;
  }
  .agor-siblings {
    width: 200px;
    gap: 10px;
  }
  .rosales-siblings {
    width: 180px;
    gap: 10px;
  }
  .camacho-siblings {
    width: 180px;
    gap: 10px;
  }
  .pacamarra-siblings {
    gap: 10px;
    width: 180px;
  }
  .umali-siblings {
    width: 180px;
    gap: 10px;
  }
  .bacani-siblings {
    width: 180px;
    gap: 10px;
  }
  .saavedra-siblings {
    width: 180px;
    gap: 10px;
  }
  .lazado-siblings {
    width: 180px;
    gap: 10px;
  }

  .familyName {
    font-size: 18px;
    margin-bottom: 5px;
  }
  .child {
    width: 70px;
    height: 70px;
  }
  .child:hover {
    width: 70px;
    height: 70px;
  }
  .in-law {
    width: 75px;
    height: 75px;
  }
  .in-law:hover {
    width: 75px;
    height: 75px;
  }
  .in-law a {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.9px;
  }
  .rowThree {
    column-gap: 5px;
  }
  .rowTwo {
    column-gap: 10px;
  }
  .rowOne {
    column-gap: 40px;
  }
}

/* desk top screen */
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .container {
    width: 100%;
    padding-top: 100px 0;
    margin: 0;
  }
  .content {
    overflow-x: hidden;
  }
  .grand {
    padding: 15px;
  }
  .grandMother-firstGenPage,
  .grandFather-firstGenPage {
    width: 150px;
    height: 200px;
  }
  .children-firstGenMainContainer {
    padding: 0px 0px;
  }
  .grand-parents {
    column-gap: 20px;
  }
  .grand-h3 {
    font-size: 20px;
  }
  .grand-children {
    width: 55px;
    height: 55px;
  }
  .grand-children:hover {
    width: 55px;
    height: 55px;
  }
  .gasilla-siblings {
    width: 300px;
    gap: 10px;
  }
  .agor-siblings {
    width: 200px;
    gap: 10px;
  }
  .rosales-siblings {
    width: 280px;
    gap: 10px;
  }
  .camacho-siblings {
    width: 300px;
    gap: 10px;
  }
  .pacamarra-siblings {
    gap: 10px;
    width: 280px;
  }
  .umali-siblings {
    width: 300px;
    gap: 10px;
  }
  .bacani-siblings {
    width: 200px;
    gap: 10px;
  }
  .saavedra-siblings {
    width: 200px;
    gap: 10px;
  }
  .lazado-siblings {
    width: 280px;
    gap: 10px;
  }

  .familyName {
    font-size: 20px;
    margin-bottom: 5px;
  }
  .child {
    width: 70px;
    height: 70px;
  }
  .child:hover {
    width: 70px;
    height: 70px;
  }
  .in-law {
    width: 75px;
    height: 75px;
  }
  .in-law:hover {
    width: 75px;
    height: 75px;
  }
  .in-law a {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.9px;
  }
  .rowThree {
    column-gap: 10px;
  }
  .rowTwo {
    column-gap: 20px;
  }
  .rowOne {
    column-gap: 40px;
  }
}

@media screen and (min-width: 1158px) and (max-width: 1299px) {
  header {
    width: 100%;
    background-color: blue;
  }
  .children-firstGenMainContainer {
    padding: 50px 50px;
  }
}
@media screen and (min-width: 1300px) and (max-width: 1610px) {
  header {
    width: 100%;
    background-color: blue;
  }
  .children-firstGenMainContainer {
    padding: 50px 100px;
  }
}
