header{
    gap: 50px;
    padding: 5px 0;
    background-color: rgb(6, 58, 245);
    justify-content: center;
    align-items: center;
    display: flex;
    
}
header a{
    color: white;
}
.headTitle-firstGen{
    font-weight: 700;
    cursor: pointer;
    color: white;
    font-size: 18px;  
}
.back{
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    background-color:rgb(248, 242, 242) ;
    border-radius: 5px;
    padding: 10px;
    color: black;
}
.back:hover{
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    background-color:black ;
    border-radius: 5px;
    padding: 10px;
    color: white;
}
/* main start here */
.mother,
.father{
    border-radius: 10px;
    width: 150px;
    box-shadow:-10px 8px 8px rgba(0,0,0,.8);
    border: 1px solid whitesmoke;
}
.father:hover,
.mother:hover{
    background-color: lightgrey;
    border-radius: 10px;
    width: 150px;
    box-shadow:-10px 8px 8px rgba(0,0,0,.8);
    border: 1px solid whitesmoke;
}

.gasilla-container{
    padding: 40px 20px;
}
.gasilla-parents{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
}
.family-banner{
    border-radius: 20px;
    color: white;
    background-color: rgb(236, 45, 83);
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.banner-title{
    text-align: center;
}
.familyHead{
    text-align: center;
}
span{
    font-weight: 700;
}
.gasilla-children{
    padding: 40px 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;

}
.child{
    border-radius: 10px;
    width: 150px;
    box-shadow:-10px 8px 8px rgba(0,0,0,.8);
    border: 1px solid whitesmoke;
}
.child:hover{
    background-color: lightgrey;
    border-radius: 10px;
    width: 150px;
    box-shadow:-10px 8px 8px rgba(0,0,0,.8);
    border: 1px solid whitesmoke;
}
.childName{
    text-align: center;
}
img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.img-holder{
    display: flex;
    align-items: center;
    justify-content: center;
}

footer{
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(6, 58, 245);
   
}
footer  a {
    font-family: 'Franklin Gothic Medium', sans-serif;
    color: black;
    font-size: 16px;
    font-weight: 700;
}
footer p{
   color: white;
}