* {
  margin: 0;
  padding: 0;
}
html,
body {
  max-width: 100%;
  overflow-x: hidden;
  height: 100%;
  background: hsl(196, 79%, 61%);
  margin: 0;
}
header {
  position: fixed;
  width: 100%;
  gap: 50px;
  padding: 5px 0;
  background-color: rgb(6, 58, 245);
  justify-content: center;
  align-items: center;
  display: flex;
}
header a {
  color: white;
}
.headTitle-firstGen {
  font-weight: 700;
  cursor: pointer;
  color: white;
  font-size: 18px;
}
.back {
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
  background-color: rgb(248, 242, 242);
  border-radius: 5px;
  padding: 10px;
  color: black;
}
.back:hover {
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
  background-color: black;
  border-radius: 5px;
  padding: 10px;
  color: white;
}
/* main start here */
.mother,
.father {
  border-radius: 10px;
  width: 150px;
  box-shadow: -10px 8px 8px rgba(0, 0, 0, 0.8);
  border: 1px solid whitesmoke;
}
.father:hover,
.mother:hover {
  background-color: lightgrey;
  border-radius: 10px;
  width: 150px;
  box-shadow: -10px 8px 8px rgba(0, 0, 0, 0.8);
  border: 1px solid whitesmoke;
}

.gasilla-container {
  padding: 40px 20px;
}
.gasilla-parents {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
}
.family-banner {
  border-radius: 20px;
  color: white;
  background-color: rgb(236, 45, 83);
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.banner-title {
  text-align: center;
}
.familyHead {
  text-align: center;
}
span {
  font-weight: 700;
}
.gasilla-children {
  padding: 40px 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.child {
  border-radius: 10px;
  width: 150px;
  box-shadow: -10px 8px 8px rgba(0, 0, 0, 0.8);
  border: 1px solid whitesmoke;
}
.child:hover {
  background-color: lightgrey;
  border-radius: 10px;
  width: 150px;
  box-shadow: -10px 8px 8px rgba(0, 0, 0, 0.8);
  border: 1px solid whitesmoke;
}
.childName {
  text-align: center;
}
img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.img-holder {
  display: flex;
  align-items: center;
  justify-content: center;
}
.foot {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 20px;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(6, 58, 245);
}

footer {
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(6, 58, 245);
}
footer a {
  font-family: "Franklin Gothic Medium", sans-serif;
  color: black;
  font-size: 16px;
  font-weight: 700;
}
footer p {
  color: white;
}

/* footer */
.foot {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 20px;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(6, 58, 245);
}

footer a {
  font-family: "Franklin Gothic Medium", sans-serif;
  color: black;
  font-size: 18px;
  font-weight: 700;
}
footer p {
  color: white;
}

/* media screen */
@media screen and (max-width: 428px) {
  header {
    z-index: 1000;
  }
  .gasilla-parents {
    padding-top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .gasilla-parents {
    position: relative;
  }

  .family-banner {
    position: absolute;
    width: 280px;
    height: 120px;
    top: 5%;
    left: -2%;
  }

  .gasilla-children {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
  }
  footer a {
    font-size: 12px;
    font-weight: 700;
  }
  footer p {
    font-size: 10px;
    color: white;
  }
}
