* {
  margin: 0;
  padding: 0;
}
html,
body {
  max-width: 100%;
  overflow-x: hidden;
  height: 100%;
  background: hsl(196, 79%, 61%);
  margin: 0;
}
header {
  z-index: 1000;
  position: fixed;
  width: 100%;
  gap: 50px;
  padding: 5px 0;
  background-color: rgb(6, 58, 245);
  justify-content: center;
  align-items: center;
  display: flex;
}
header a {
  color: white;
}
img {
  border: 1px solid #ffffff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.layerTwo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.headTitle-firstGen {
  font-weight: 700;
  cursor: pointer;
  color: white;
  font-size: 18px;
}
.back {
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
  background-color: rgb(247, 238, 238);
  border-radius: 5px;
  padding: 10px;
  color: black;
}
.back:hover {
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
  background-color: black;
  border-radius: 5px;
  padding: 10px;
  color: white;
}

/* Main start here*/
.familyHead {
  font-size: 22px;
  margin-top: 20px;
}
.spanMe {
  margin-top: 15px;
}
.secondGen-banner {
  width: 280px;
  padding: 25px;
  border-radius: 20px;
  box-shadow: -10px 8px 8px rgba(0, 0, 0, 0.5);
}
.banner-title {
  font-size: 24px;
}
.secondGen-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 0 50px 0;
}
.secondGen-parents {
  display: flex;
  gap: 10px;
}
.secondGen-children {
  margin-top: 30px;
  column-gap: 20px;
  display: flex;
}
.secondGen-banner {
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.father,
.mother {
  border: 1px solid #ffffff;
  background-color: #ffffff;
  box-shadow: -10px 8px 8px rgba(0, 0, 0, 0.5);
  width: 167px;
  height: 215px;
  border-radius: 10px;
}
.father:hover,
.mother:hover {
  background-color: gray;
  cursor: pointer;
  color: #ffffff;
}
.child {
  border: 1px solid #ffffff;
  background: #f1f1f1;
  border-radius: 10px;
  box-shadow: -10px 8px 8px rgba(0, 0, 0, 0.5);
  width: 152px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
.child:hover {
  background-color: rgb(14, 242, 242);
  cursor: pointer;
  color: #000;
}
.childName {
  text-align: center;
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.addInfo {
  text-align: center;
}
/* main start here */

footer {
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(6, 58, 245);
}
footer a {
  font-family: "Franklin Gothic Medium", sans-serif;
  color: black;
  font-size: 16px;
  font-weight: 700;
}
footer p {
  color: white;
}

/* footer */
.foot {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 20px;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(6, 58, 245);
}

footer a {
  font-family: "Franklin Gothic Medium", sans-serif;
  color: black;
  font-size: 18px;
  font-weight: 700;
}
footer p {
  color: white;
}
/* media screen */
@media screen and (max-width: 428px) {
  header {
    z-index: 1000;
  }
  .secondGen-container {
    padding-top: 80px;
  }
  .secondGen-parents {
    padding-top: 200px;
    display: flex;
    gap: 20px;
  }
  .secondGen-parents {
    position: relative;
  }

  .secondGen-banner {
    position: absolute;
    width: 280px;
    top: 0;
    left: 24px;
  }

  .secondGen-children {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
  }
  footer a {
    font-size: 12px;
    font-weight: 700;
  }
  footer p {
    font-size: 10px;
    color: white;
  }
}

@media screen and (min-width: 429px) and (max-width: 767px) {
  .secondGen-parents {
    padding-top: 200px;
    display: flex;
    gap: 30px;
  }
  .secondGen-parents {
    position: relative;
  }

  .secondGen-banner {
    position: absolute;
    width: 300px;
    top: 0;
    left: 20px;
  }

  .secondGen-children {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    gap: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .secondGen-parents {
    padding-top: 200px;
    display: flex;
    gap: 40px;
  }
  .secondGen-parents {
    position: relative;
  }

  .secondGen-banner {
    position: absolute;
    width: 400px;
    top: 0;
    left: -8%;
  }

  .secondGen-children {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    gap: 60px;
  }
}

/* special picture */
.couple-picture {
  cursor: pointer;
  border-radius: 10px;
  width: 300px;
  height: 200px;
  background: #1050f3;
  box-shadow: -10px 8px 8px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}
.family-picture {
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  width: 300px;
  height: 200px;
  background: #1050f3;
  box-shadow: -10px 8px 8px rgba(0, 0, 0, 0.5);
}
.image-picture {
  border-radius: 10px;
  transition: transform 0.5s ease-in-out;
}
.image-picture:hover {
  border-radius: 10px;
  transform: scale(1.2);
  box-shadow: -10px 8px 8px rgba(0, 0, 0, 0.5);
}
.images-secondGen {
  transition: transform 0.5s ease-in-out;
}
.images-secondGen:hover {
  border-radius: 20px;
  transform: scale(1.2);
  box-shadow: -10px 8px 8px rgba(0, 0, 0, 0.5);
}
